body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    line-height: 1.6;
    margin: 0;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: blue;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.formulario-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: fit-content;
}

h1 {
    text-align: center;
    color: blue;
    margin-top: 0;
    padding-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

.submit-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.submit-button:hover {
    background-color: grey;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.formulario-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: fit-content;
}

h1 {
    text-align: center;
    color: blue;
    margin-top: 0;
    padding-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

.submit-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.submit-button:hover {
    background-color: grey;
}